@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

@theme {
  --color-gray-rich: #141414;
  --color-gray-eerie: #0d0d0d;
  --color-gray-charcoal: #1a1a1a;
  --color-gray-night: #1c1c1c;
  --color-gray-dim: #2e2e2e;
}
